html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container{
    display: flex;
    flex-direction: column;
    height:90vh;
    width: 80vw;
    background: #000;
    border-radius:20px ;
    align-items: center;
    justify-content: space-evenly;
}
.bulb-container{
       height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background: rgb(255, 255, 255);
     box-shadow: 10px 10px 20px rgb(150, 150, 54);
    margin: 3rem;
}
.bulb{
   
    border-radius: 50%;
    background: #f2ff00;
}

button{
    height: auto;
    width: 5em;
    font-size: 3rem;
    text-shadow: 2px 3px 4px red;
    color: rgb(129, 249, 55);
    border: none;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #c6c8b1;
    box-shadow:  2px 3px 4px rgb(133, 155, 82);
}

button:active{
    transform: scale(0.9) ;
}

button:hover{
    background: #efba0c;
}

