html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.bulb-container{
       height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background: rgb(255, 255, 255);
     box-shadow: 10px 10px 20px rgb(150, 150, 54);
    margin: 5rem;
}
.bulb{
   
    border-radius: 50%;
    background: #f2ff00;
}

button{
    height: auto;
    width: auto;
    font-size: 3rem;
    border: none;
    border-radius: 20px;
    margin-left: 8rem;
    padding: 1rem;
    background: #eaff00;
}
